@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* ASTERISCO = TODAS AS TAGS */
*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: flex-start;
    width: 100%;
    
    /* VH - Altura da visualização*/
    min-height: 100vh;
    background: linear-gradient(135deg, blue, #7776b3);
    padding: 10px;

}

.task-app{
    /* WIDTH = 100% o pai */
     /* max-WIDTH = limita ele a 540px ao maximo */
    width: 100%;
    max-width: 540px;
    background-color: cornsilk;
    margin: 100px auto 20px;
    border-radius: 10px;
    padding: 40px 30px 70px ;
}

.task-app h2{
    color: blue;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.task-app img{
    width: 30%;
    margin-left: 10px;
}

/* ROW - Div pai do input e button */
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 30px;
    padding-left: 30px;
    margin-bottom: 25px;
}

input{
    /* É uma propriedade geral de tamanho dizendo que ele vai aumentar ou diminuir dependendo do espaço . É um resumo do flex-grow e flex-shrink '1' nos dois */
flex: 1;
border: none;
outline: none;
background: transparent;
padding: 10px;
font-weight: 500;
font-size: 24px;
}

input ::placeholder{
    color: beige;
    opacity: 0.7;
}

button{
    border: none;
    outline: none;
    padding: 20px 40px;
    background-color: blue;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 30px;
}

ul li {
    /* List-style : none = tira os pontinhos*/
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;

    /* User select : none = não permite seleção de texto */
    user-select: none;
    cursor: pointer;
    position: relative;

}

/* 02/10/24 */

/*Pseudo elemento before . Ele cria um elemento antes do LI. Isso quer dizer que as propriedades internas são neste elemento / tag criado via CSS */

ul li::before{

    content: '';
    position: absolute;
    height: 28px;
    width: 20px;
    background-image: url('../img/desmarcado.png');
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
    transition: all 0.4s;
}

ul li.checked{
    color: black;
    text-decoration: line-through;

}

ul li.checked ::before {
    background-image: url('../img/marcado.png');
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width:40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span :hover{
    background-color: #edeef0;
}











    
